body {
    background-color: white;
    font-family: 'Amazon Ember', sans-serif;
}

.resume-header {
    background-color: #6482AD;
    padding: 20px 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.title {
    background-color: #6482AD;
    text-align: center;
}

.col-lg-6 {
    color: black;
}

.profile-img {
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.card, .card > img {
    height: 100%;
    width: 100%;
    overflow: hidden;
    
}

html {
    scroll-behavior: smooth;
}

